a {
  text-decoration: none;
  color: #303030;
  font-weight: regular;
}

a:link {
  color: {{.cs.Menu_link}};
}

a:visited {
  color: {{.cs.Menu_link}};
}

a:hover {
  color: {{.cs.Menu_hover}};
}

a:active {
  color: {{.cs.Menu_active}};
}

.menuEntry {
  display: inline;
}

.menuList {
  list-style-type: none;
  float: left;
  margin: 0;
}

.separator {
  display: inline;
  color: #a0a0a0;
}

